.navbar-brand{
  font-size: 1.9em;
  font-weight: bold;
}

#topContainer{
  background-image: url("img/flww.jpeg");
  height:100%;
  width:100%;
  background-size: cover;
}
#topRow{
  margin-top: 100px;
  text-align: center;
}
#topRow h1{
  font-size: 300%;
}
#emailSignup{
  margin-top:50px;
}
.bold{
  font-weight:bold;
}
.margin-Top{
  margin-top: 30px;
}
.center{
  text-align: center;
}
.title{
  margin-top: 100px;
  font-size: 300%;
}
